doctype html
html
  head
    title Identity Provider
    link(rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css")
    link(rel="stylesheet" href="/stylesheets/custom.css")
  body
    div(class="container ")
      section 
        div.terminal-nav
          div.terminal-logo
            div.logo.terminal-prompt
              a.no-style(href="/") IDP
          nav.terminal-menu
            ul
              if !adminName
                li
                  a.menu-item(href="/add-org" class=currentPath === '/add-org' ? 'active' : '') Register SP
              if adminName
                li
                  a.menu-item(href="/references" class=currentPath === '/references' ? 'active' : '') References
                li
                  a.menu-item(href="/form" class=currentPath === '/form' ? 'active' : '') Add Reference
                li
                  a.menu-item(href="/schema_def_page" class=currentPath === '/schema_def_page' ? 'active' : '') schema_def
                li
                  a.menu-item(href="/agent_info_page" class=currentPath === '/agent_info_page' ? 'active' : '') #{adminName ? "admin-"+adminName : 'agent-info'}
              if !adminName && userName
                li
                  a.menu-item(href="/select_schema" class=currentPath === '/select_schema' ? 'active' : '') Get Credential
                li
                  a.menu-item(href="/request_proofs" class=currentPath === '/request_proofs' ? 'active' : '') request_proofs
                //- li
                //-   a.menu-item(href="/generate_invitation_page" class=currentPath === '/generate_invitation_page' ? 'active' : '') sign_up
                //- li
                //-   a.menu-item(href="/login" class=currentPath === '/login' ? 'active' : '') login
                li
                  a.menu-item(href="/user-profile" class=currentPath === '/user-profile' ? 'active' : '') #{userName ? userName : 'user'}
              if adminName || userName
                li
                  a.menu-item(href="/logout") Logout
        hr
      block content
      div(class="footer-container")
        hr
        footer
          p © 2024 Identity Provider Ltd.
